{%  extends 'notes/layout.html' %}
{%  load crispy_forms_tags %}

{% block body %}
  {{request.user.username}} - {{request.user.email}}
  <p>You Can logout from here <a class="btn btn-success"  href=" {% url 'Logout' %}">Logout here</a> </p>
  <div class="container">
    <div class="row">
      
      <div class="col-lg-4 mt-3 mb-3">  
          
          <div class="col-11 mx-sm-auto rounded border p-3">  
            <h4 class="pt-3 pb-4">Add Yor Notes Here</h4>
            <p class="text-white text-center"  id="message"></p>
            <form id="noteForm" >
              {% csrf_token  %}
              {{form | crispy}}
              <input type="submit" class="btn btn-success btn-sm p-2 m-3" value="Add Note" id="add">
             
          </form>              
          </div>
      </div>    





      <div class="col-lg-8 mt-3 mb-3">
        
          <table class="table" id="notesTable">
              <thead>
                  <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Title</th>
                      <th scope="col">Description</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>
                  </tr>  
              </thead>  
              <tbody>
              
                {% for note in notes %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td class="title">{{note.title}}</td>
                    <td class="description">{{note.description}}</td>
                    <td><button data="{{note.id}}" class="btn btn-primary edit">Edit</button></td>
                    <td><button data="{{note.id}}" class="btn btn-danger delete">Delete</button></td>
                </tr>
                {% endfor %}
              
              </tbody>  

          </table>
      </div>
    </div>
  </div>  
 

  <script src="https://code.jquery.com/jquery-3.7.1.js" 
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous">
 </script> 
 <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
 
 
 <script>
  
        $(document).ready(function () {                
                $('#notesTable').DataTable();
        });
        let activeItem = null
    function showNote(data){
      $('#notesTable tbody').empty()
      for(i=0; i < data.length ; i++){
          $('#notesTable tbody').append(
            `
            <tr>
              <th scope="row">${i+1}</th>
              <td class="title">${data[i].title}</td>
              <td class="description">${data[i].description}</td>
              <td><button data="${data[i].id}" class="btn btn-primary edit">Edit</button></td>
              <td><button data="${data[i].id}" class="btn btn-danger delete">Delete</button></td>
            </tr>   
            
            `
          )
      }      
    }    
    function editItem(item){
        var title = item.find('.title').text()
        var description = item.find('.description').text()
        var edit_id = item.find('.edit').attr('data')
        console.log(title, description, edit_id)
        $('#id_title').val(title)
        $('#id_description').val(description)
        $('#add').val('Update Note')
        $('#add').removeClass('bg-success')
        $('#add').addClass('bg-danger')
        activeItem = edit_id
    }   
    
    function deleteNote(delete_id){
        $.ajax({
            type:'GET',
            url :'{% url 'DeleteNote' %}',
            data:{
                'delete_id' : delete_id,
            },
            success:function(response){
                console.log(response.notes)
                showNote(response.notes)
                $('.delete').click(function(){
                  var delete_id = $(this).attr('data')
                  console.log(delete_id)
                  deleteNote(delete_id)
                })
                $('.edit').click(function(){
                  var item = $(this).closest('tr')
                  editItem(item)
                })                                   
            }
        })
    }

    //This for from submission
    $(document).on('submit','#noteForm', function(e){
        e.preventDefault();
        title = $('#id_title').val();
        description = $('#id_description').val()
        url = '{% url "Home" %}'
        data = {
          'title':title,
          'description':description,
          csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        }
        if (activeItem != null){
          url = '{% url "EditNote" %}'
          data['edit_id'] = activeItem
        }
        $.ajax({
            type:'POST',
            url:url,
            data:data,
            success:function(response){
              console.log(response)
              console.log(response.notes)
              data = response.notes
              
              if(response.status == "1"){
                $("#noteForm").trigger("reset");
                $("#id_title").focus();

                showNote(data)  


              }
              $('#message').text(response.status_message)
              $('#message').removeClass('bg-warning')
              $('#message').addClass('bg-success')
              $('#message').addClass('p-2')
              $('.edit').click(function(){
                var item = $(this).closest('tr')
                editItem(item)
              })                  

              $('.delete').click(function(){
                var delete_id = $(this).attr('data')
                console.log(delete_id)
                deleteNote(delete_id)
              })

              if(response.status_message == "Your Note Updatee Succesfully")
                  $('#message').text(response.status_message)
                  $('#message').removeClass('bg-success')
                  $('#message').addClass('bg-warning')
                  $('#add').val('Add Note')
                  $('#add').removeClass('bg-danger')
                  $('#add').addClass('bg-success')
                  activeItem = null

            }
        })
    })
   
    $('.edit').click(function(){
      var item = $(this).closest('tr')
      editItem(item)
    })    
    $('.delete').click(function(){
        var delete_id = $(this).attr('data')
        console.log(delete_id)
        deleteNote(delete_id)
    })
 </script> 
{% endblock %}